<footer class="bg-gray-800 text-white py-8 px-4">
  <div class="container mx-auto">
    <div class="flex justify-between items-center">
      <a href="mailto:morgan@kodelab.fr">
        <p class="mt-2">morgan@kodelab.fr</p>
      </a>
      <div>
        <a href="#" class="text-white hover:underline">Terms of Service</a>
        <a href="#" class="ml-4 text-white hover:underline">Privacy Policy</a>
      </div>
    </div>
    <div class="mt-8 text-center">
      <p>&copy; 2024 Yann M. Vidamment (MorganKryze). All rights reserved.</p>
    </div>
  </div>
</footer>
