<footer
  class="text-white py-8 px-4"
  style="background-color: hsl(210, 22%, 10%)"
>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col sm:flex-row justify-between items-center">
      <p>
        Contact:
        <a href="mailto:morgan@kodelab.fr" class="mt-2 hover:underline">
          morgan@kodelab.fr
        </a>
      </p>
      <div class="mt-4 sm:mt-0">
        <a href="/Portfolio/tos" class="text-white hover:underline">Terms of Service</a>
        <a href="/Portfolio/privacy" class="ml-4 text-white hover:underline"
          >Privacy Policy</a
        >
      </div>
    </div>
    <div class="mt-8 text-center">
      <p>
        &copy; 2024 <a
          href="https://github.com/MorganKryze"
          class="hover:underline">Yann M. Vidamment (MorganKryze)</a
        >. All rights reserved.
      </p>
    </div>
  </div>
</footer>
