---
import "../styles/global.css";

import { Image } from "astro:assets";

interface Props {
  currentPage: string;
}

const { currentPage } = Astro.props;
---

<nav class="fixed top-0 left-0 right-0 z-50 backdrop-blur-md bg-opacity-70 bg-gray-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-4">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <a href="/Portfolio">
            <Image
              src="/Portfolio/dark-favicon.svg"
              alt="Logo"
              width={36}
              height={36}
              loading="eager"
            />
          </a>
        </div>
        <a href="/Portfolio">
          <div class="ml-4 text-white text-lg font-bold sm:text-xl">
            Photographolio
          </div>
        </a>
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <a
              href="/Portfolio"
              class={`text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium ${currentPage === "home" ? "underline-lower" : ""}`}
              >Home</a
            >
            <a
              href="/Portfolio/about"
              class={`text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium ${currentPage === "about" ? "underline-lower" : ""}`}
              >About</a
            >
            <div class="group relative">
            <a
                href="/Portfolio/collections"
                class={`flex items-center text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium ${currentPage === "collections" ? "underline-lower" : ""}`}
            >
                Collections
                <Image
                    src="/Portfolio/icons/chevron-down.svg"
                    alt="Collections Icon"
                    width={30}
                    height={30}
                    loading="eager"
                    class="pl-2"
                />
            </a>
            <div
                class="absolute left-0 w-full mt-2 p-2 bg-gray-700 text-white rounded-md shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-200"
            >
                <a
                    href="/Portfolio/collections/france"
                    class="block px-2 py-1 hover:bg-gray-800 rounded-md w-full text-left">France</a
                >
                <a
                    href="/Portfolio/collections/sardegna"
                    class="block px-2 py-1 hover:bg-gray-800 rounded-md w-full text-left"
                    >Sardegna</a
                >
                <a
                    href="/Portfolio/collections/ireland"
                    class="block px-2 py-1 hover:bg-gray-800 rounded-md w-full text-left"
                    >Ireland</a
                >
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
