---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

interface Props {
  currentPage: string;
}

const { currentPage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Photography portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Photographolio</title>
    <style>
      .bg-image {
        background-image: url("/background.jpg");
        background-color: black;
        background-size: cover;
        background-position: center;
      }
    </style>
  </head>
  <body class="bg-image">
    <Nav currentPage={currentPage} />
    <slot />
    <Footer />
  </body>
</html>
