---
import "../../styles/global.css";
import "../../animations/hide.astro";
import "../../animations/popup.astro";

import CollectionLayout from "../../layouts/CollectionLayout.astro";
import GalleryImage from "../../components/GalleryImage.astro";
---

<CollectionLayout
  currentPage="collections"
  title="Ireland"
  description={`I have recently spent a few months in Ireland, and it let me curious
    about the country. I have been amazed by the beauty of its landscapes, the richness
    of its language and history, and the diversity of environments. I may consider 
    going back to explore more of it!`}
  previousCollectionTitle="Sardegna"
  previousCollectionLink="sardegna"
  nextCollectionTitle="France"
  nextCollectionLink="france"
>
  <div id="Column-Left" class="flex flex-col gap-6">
    <GalleryImage image="/img/ireland/im1.jpg" loading="eager" />
    <GalleryImage image="/img/ireland/im21.jpg" loading="eager" />
    <GalleryImage image="/img/ireland/im11.jpg" loading="eager" />
    <GalleryImage image="/img/ireland/im15.jpg" />
    <GalleryImage image="/img/ireland/im10.jpg" />
    <GalleryImage image="/img/ireland/im32.jpg" />
    <GalleryImage image="/img/ireland/im25.jpg" />
    <GalleryImage image="/img/ireland/im30.jpg" />
    <GalleryImage image="/img/ireland/im13.jpg" />
    <GalleryImage image="/img/ireland/im6.jpg" />
    <GalleryImage image="/img/ireland/im39.jpg" />
    <GalleryImage image="/img/ireland/im71.jpg" />
    <GalleryImage image="/img/ireland/im41.jpg" />
    <GalleryImage image="/img/ireland/im43.jpg" />
    <GalleryImage image="/img/ireland/im24.jpg" />
    <GalleryImage image="/img/ireland/im54.jpg" />
    <GalleryImage image="/img/ireland/im47.jpg" />
    <GalleryImage image="/img/ireland/im46.jpg" />
    <GalleryImage image="/img/ireland/im63.jpg" />
    <GalleryImage image="/img/ireland/im57.jpg" />
    <GalleryImage image="/img/ireland/im56.jpg" />
    <GalleryImage image="/img/ireland/im65.jpg" />
  </div>
  <div id="Column-Center" class="flex flex-col gap-6">
    <GalleryImage image="/img/ireland/im7.jpg" loading="eager" />
    <GalleryImage image="/img/ireland/im9.jpg" loading="eager" />
    <GalleryImage image="/img/ireland/im27.jpg" loading="eager" />
    <GalleryImage image="/img/ireland/im17.jpg" />
    <GalleryImage image="/img/ireland/im29.jpg" />
    <GalleryImage image="/img/ireland/im34.jpg" />
    <GalleryImage image="/img/ireland/im3.jpg" />
    <GalleryImage image="/img/ireland/im2.jpg" />
    <GalleryImage image="/img/ireland/im33.jpg" />
    <GalleryImage image="/img/ireland/im19.jpg" />
    <GalleryImage image="/img/ireland/im44.jpg" />
    <GalleryImage image="/img/ireland/im40.jpg" />
    <GalleryImage image="/img/ireland/im68.jpg" />
    <GalleryImage image="/img/ireland/im69.jpg" />
    <GalleryImage image="/img/ireland/im38.jpg" />
    <GalleryImage image="/img/ireland/im36.jpg" />
    <GalleryImage image="/img/ireland/im23.jpg" />
    <GalleryImage image="/img/ireland/im48.jpg" />
    <GalleryImage image="/img/ireland/im50.jpg" />
    <GalleryImage image="/img/ireland/im51.jpg" />
    <GalleryImage image="/img/ireland/im58.jpg" />
    <GalleryImage image="/img/ireland/im61.jpg" />
    <GalleryImage image="/img/ireland/im62.jpg" />
    <GalleryImage image="/img/ireland/im64.jpg" />
  </div>
  <div id="Column-Right" class="flex flex-col gap-6">
    <GalleryImage image="/img/ireland/im8.jpg" loading="eager" />
    <GalleryImage image="/img/ireland/im22.jpg" loading="eager" />
    <GalleryImage image="/img/ireland/im18.jpg" loading="eager" />
    <GalleryImage image="/img/ireland/im12.jpg" />
    <GalleryImage image="/img/ireland/im28.jpg" />
    <GalleryImage image="/img/ireland/im16.jpg" />
    <GalleryImage image="/img/ireland/im4.jpg" />
    <GalleryImage image="/img/ireland/im31.jpg" />
    <GalleryImage image="/img/ireland/im35.jpg" />
    <GalleryImage image="/img/ireland/im20.jpg" />
    <GalleryImage image="/img/ireland/im45.jpg" />
    <GalleryImage image="/img/ireland/im70.jpg" />
    <GalleryImage image="/img/ireland/im37.jpg" />
    <GalleryImage image="/img/ireland/im42.jpg" />
    <GalleryImage image="/img/ireland/im53.jpg" />
    <GalleryImage image="/img/ireland/im26.jpg" />
    <GalleryImage image="/img/ireland/im55.jpg" />
    <GalleryImage image="/img/ireland/im49.jpg" />
    <GalleryImage image="/img/ireland/im52.jpg" />
    <GalleryImage image="/img/ireland/im60.jpg" />
    <GalleryImage image="/img/ireland/im59.jpg" />
    <GalleryImage image="/img/ireland/im67.jpg" />

    <GalleryImage image="/img/ireland/im66.jpg" />
    <GalleryImage image="/img/ireland/im5.jpg" />
  </div>
</CollectionLayout>
