---
import "../../styles/global.css";
import "../../animations/hide.astro";

import CollectionLayout from "../../layouts/CollectionLayout.astro";
import GalleryImage from "../../components/GalleryImage.astro";
---

<CollectionLayout
  currentPage="collections"
  title="Ireland"
  description={`Coming soon..`}
  previousCollectionTitle="Sardegna"
  previousCollectionLink="sardegna"
  nextCollectionTitle="France"
  nextCollectionLink="france"
>
  <div id="Column-Left" class="flex flex-col gap-6"></div>
  <div id="Column-Center" class="flex flex-col gap-6"></div>
  <div id="Column-Right" class="flex flex-col gap-6"></div>
</CollectionLayout>
