---
import "../../styles/global.css";
import "../../animations/hide.astro";
import "../../animations/popup.astro";

import GalleryImage from "../../components/GalleryImage.astro";
import CollectionLayout from "../../layouts/CollectionLayout.astro";
---

<CollectionLayout
  currentPage="collections"
  title="Sardegna"
  description={`Sardegna is a beautiful island in the Mediterranean Sea. I had the
    chance to visit it for a few days and travel across the island. I saw from the 
    beautiful beaches to the mountains, and I was seduced by the genuine beauty of 
    endless sky depict the horizon.`}
  previousCollectionTitle="France"
  previousCollectionLink="france"
  nextCollectionTitle="Ireland"
  nextCollectionLink="ireland"
>
  <div id="Column-Left" class="flex flex-col gap-6">
    <GalleryImage image="/img/sardegna/im38.jpg" loading="eager" />
    <GalleryImage image="/img/sardegna/im59.jpg" loading="eager" />
    <GalleryImage image="/img/sardegna/im20.jpg" loading="eager" />
    <GalleryImage image="/img/sardegna/im81.jpg" />
    <GalleryImage image="/img/sardegna/im18.jpg" />
    <GalleryImage image="/img/sardegna/im75.jpg" />
    <GalleryImage image="/img/sardegna/im16.jpg" />
    <GalleryImage image="/img/sardegna/im37.jpg" />
    <GalleryImage image="/img/sardegna/im3.jpg" />
    <GalleryImage image="/img/sardegna/im11.jpg" />
    <GalleryImage image="/img/sardegna/im6.jpg" />
    <GalleryImage image="/img/sardegna/im8.jpg" />
    <GalleryImage image="/img/sardegna/im34.jpg" />
    <GalleryImage image="/img/sardegna/im63.jpg" />
    <GalleryImage image="/img/sardegna/im72.jpg" />
    <GalleryImage image="/img/sardegna/im2.jpg" />
    <GalleryImage image="/img/sardegna/im43.jpg" />
    <GalleryImage image="/img/sardegna/im49.jpg" />
    <GalleryImage image="/img/sardegna/im76.jpg" />
    <GalleryImage image="/img/sardegna/im64.jpg" />
    <GalleryImage image="/img/sardegna/im9.jpg" />
    <GalleryImage image="/img/sardegna/im87.jpg" />
    <GalleryImage image="/img/sardegna/im23.jpg" />
    <GalleryImage image="/img/sardegna/im48.jpg" />
    <GalleryImage image="/img/sardegna/im26.jpg" />
    <GalleryImage image="/img/sardegna/im52.jpg" />
    <GalleryImage image="/img/sardegna/im61.jpg" />
  </div>
  <div id="Column-Center" class="flex flex-col gap-6">
    <GalleryImage image="/img/sardegna/im45.jpg" loading="eager" />
    <GalleryImage image="/img/sardegna/im29.jpg" loading="eager" />
    <GalleryImage image="/img/sardegna/im42.jpg" loading="eager" />
    <GalleryImage image="/img/sardegna/im74.jpg" />
    <GalleryImage image="/img/sardegna/im82.jpg" />
    <GalleryImage image="/img/sardegna/im17.jpg" />
    <GalleryImage image="/img/sardegna/im27.jpg" />
    <GalleryImage image="/img/sardegna/im36.jpg" />
    <GalleryImage image="/img/sardegna/im71.jpg" />
    <GalleryImage image="/img/sardegna/im55.jpg" />
    <GalleryImage image="/img/sardegna/im31.jpg" />
    <GalleryImage image="/img/sardegna/im4.jpg" />
    <GalleryImage image="/img/sardegna/im54.jpg" />
    <GalleryImage image="/img/sardegna/im51.jpg" />
    <GalleryImage image="/img/sardegna/im70.jpg" />
    <GalleryImage image="/img/sardegna/im1.jpg" />
    <GalleryImage image="/img/sardegna/im65.jpg" />
    <GalleryImage image="/img/sardegna/im41.jpg" />
    <GalleryImage image="/img/sardegna/im46.jpg" />
    <GalleryImage image="/img/sardegna/im33.jpg" />
    <GalleryImage image="/img/sardegna/im57.jpg" />
    <GalleryImage image="/img/sardegna/im14.jpg" />
    <GalleryImage image="/img/sardegna/im90.jpg" />
    <GalleryImage image="/img/sardegna/im24.jpg" />
    <GalleryImage image="/img/sardegna/im62.jpg" />
    <GalleryImage image="/img/sardegna/im56.jpg" />
    <GalleryImage image="/img/sardegna/im69.jpg" />
    <GalleryImage image="/img/sardegna/im58.jpg" />
  </div>
  <div id="Column-Right" class="flex flex-col gap-6">
    <GalleryImage image="/img/sardegna/im39.jpg" loading="eager" />
    <GalleryImage image="/img/sardegna/im86.jpg" loading="eager" />
    <GalleryImage image="/img/sardegna/im15.jpg" loading="eager" />
    <GalleryImage image="/img/sardegna/im85.jpg" />
    <GalleryImage image="/img/sardegna/im68.jpg" />
    <GalleryImage image="/img/sardegna/im19.jpg" />
    <GalleryImage image="/img/sardegna/im79.jpg" />
    <GalleryImage image="/img/sardegna/im30.jpg" />
    <GalleryImage image="/img/sardegna/im28.jpg" />
    <GalleryImage image="/img/sardegna/im7.jpg" />
    <GalleryImage image="/img/sardegna/im5.jpg" />
    <GalleryImage image="/img/sardegna/im32.jpg" />
    <GalleryImage image="/img/sardegna/im35.jpg" />
    <GalleryImage image="/img/sardegna/im50.jpg" />
    <GalleryImage image="/img/sardegna/im80.jpg" />
    <GalleryImage image="/img/sardegna/im21.jpg" />
    <GalleryImage image="/img/sardegna/im44.jpg" />
    <GalleryImage image="/img/sardegna/im47.jpg" />
    <GalleryImage image="/img/sardegna/im66.jpg" />
    <GalleryImage image="/img/sardegna/im60.jpg" />
    <GalleryImage image="/img/sardegna/im10.jpg" />
    <GalleryImage image="/img/sardegna/im88.jpg" />
    <GalleryImage image="/img/sardegna/im22.jpg" />
    <GalleryImage image="/img/sardegna/im53.jpg" />
    <GalleryImage image="/img/sardegna/im25.jpg" />
    <GalleryImage image="/img/sardegna/im67.jpg" />
    <GalleryImage image="/img/sardegna/im40.jpg" />
  </div>
</CollectionLayout>
