---
import "../../styles/global.css";
import "../../animations/hide.astro";
import "../../animations/popup.astro";

import CollectionLayout from "../../layouts/CollectionLayout.astro";
import GalleryImage from "../../components/GalleryImage.astro";
---

<CollectionLayout
  currentPage="collections"
  title="Tales of Rototo"
  description={`Rototo is a funny name for an anime character from the anime "My
  neighbor Totoro". This figurine is a gift I keep close to me. I like to
  take it with me when I travel and take pictures of it in different
  places to create a disjointed story. I truly like his adorable face.`}
  previousCollectionTitle="Ireland"
  previousCollectionLink="ireland"
  nextCollectionTitle="France"
  nextCollectionLink="france"
>
  <div class="flex flex-col gap-6">
    <GalleryImage image="/img/rototo/im2.jpg" loading="eager" />
    <GalleryImage image="/img/rototo/im17.jpg" loading="eager" />
    <GalleryImage image="/img/rototo/im36.jpg" loading="eager" />
    <GalleryImage image="/img/rototo/im16.jpg" />
    <GalleryImage image="/img/rototo/im34.jpg" />
    <GalleryImage image="/img/rototo/im26.jpg" />
    <GalleryImage image="/img/rototo/im6.jpg" />
    <GalleryImage image="/img/rototo/im12.jpg" />
    <GalleryImage image="/img/rototo/im10.jpg" />
    <GalleryImage image="/img/rototo/im28.jpg" />
    <GalleryImage image="/img/rototo/im5.jpg" />
    <GalleryImage image="/img/rototo/im24.jpg" />
  </div>
  <div class="flex flex-col gap-6">
    <GalleryImage image="/img/rototo/im18.jpg" loading="eager" />
    <GalleryImage image="/img/rototo/im20.jpg" loading="eager" />
    <GalleryImage image="/img/rototo/im22.jpg" loading="eager" />
    <GalleryImage image="/img/rototo/im21.jpg" />
    <GalleryImage image="/img/rototo/im23.jpg" />
    <GalleryImage image="/img/rototo/im38.jpg" />
    <GalleryImage image="/img/rototo/im15.jpg" />
    <GalleryImage image="/img/rototo/im30.jpg" />
    <GalleryImage image="/img/rototo/im8.jpg" />
    <GalleryImage image="/img/rototo/im29.jpg" />
    <GalleryImage image="/img/rototo/im32.jpg" />
    <GalleryImage image="/img/rototo/im3.jpg" />
  </div>
  <div class="flex flex-col gap-6">
    <GalleryImage image="/img/rototo/im1.jpg" loading="eager" />
    <GalleryImage image="/img/rototo/im19.jpg" loading="eager" />
    <GalleryImage image="/img/rototo/im35.jpg" loading="eager" />
    <GalleryImage image="/img/rototo/im13.jpg" />
    <GalleryImage image="/img/rototo/im14.jpg" />
    <GalleryImage image="/img/rototo/im27.jpg" />
    <GalleryImage image="/img/rototo/im7.jpg" />
    <GalleryImage image="/img/rototo/im11.jpg" />
    <GalleryImage image="/img/rototo/im9.jpg" />
    <GalleryImage image="/img/rototo/im31.jpg" />
    <GalleryImage image="/img/rototo/im4.jpg" />
    <GalleryImage image="/img/rototo/im37.jpg" />
    <GalleryImage image="/img/rototo/im25.jpg" />
  </div>
</CollectionLayout>
