---
import "../styles/global.css";
import "../animations/hide.astro";

import Spacer from "../components/Spacer.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
---

<MainLayout currentPage="about">
  <main class="text-white min-h-screen">
    <section class="container mx-auto px-4 py-8">
      <Spacer size="h-16" />

      <div class="flex justify-between items-center">
        <h1 class="text-4xl font-bold">About</h1>
        <Image
          src="/Portfolio/img/profile.png"
          alt="profile"
          width={100}
          height={100}
          class="rounded-full"
          loading="eager"
        />
      </div>

      <Spacer size="h-12" />

      <div>
        <p class="text-lg hide-1">
          I'm a software engineer student based in France. I have a passion for
          building things and solving problems.
        </p>

        <Spacer size="h-8" />

        <p class="text-lg hide-2">
          I specialize in back-end development, with a rising interest on
          front-end technologies. I enjoy creating user-friendly, accessible,
          and responsive web applications for my projects. Feel free to check
          out my other {" "}
          <a
            href="https://github.com/MorganKryze"
            class="hover:underline"
            style="color: hsl(195, 60%, 60%);">projects</a
          > to see some of my work.
        </p>

        <Spacer size="h-8" />

        <p class="text-lg hide-3">
          This project was for me a chance to explore Astro and its
          capabilities, but also to create my first photography portfolio. I'm a
          beginner in photography, but I'm eager to learn and improve my skills.
        </p>
      </div>
      <Spacer size="h-96" />
    </section>
  </main>
</MainLayout>
