---
import EmptyCardLeft from "../components/EmptyCardLeft.astro";
import EmptyCardRight from "../components/EmptyCardRight.astro";
import Spacer from "../components/Spacer.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout currentPage="collections">
  <main class="text-white min-h-screen">
    <section class="container mx-auto px-4 py-8">
      <Spacer size="h-24" />
      <h1 class="text-4xl font-bold">Collections</h1>

      <Spacer size="h-16" />

      <EmptyCardLeft
        image="/Portfolio/img/france/im31.jpg"
        title="France"
        link="/Portfolio/collections/france"
        description={`France is my native country. But every time I go into a new region,
          I feel like I am discovering a new country. Although I keep a special place in my
          heart for Brittany. Through all my collections, you may understand my strong connection 
          to the sea that I learned to love from an early age. I hope that you will envoy my 
          work as much as I do!`}
      />

      <Spacer size="h-24" />

      <EmptyCardRight
        image="/Portfolio/img/sardegna/im6.jpg"
        title="Sardegna"
        link="/Portfolio/collections/sardegna"
        description={`Sardegna is a beautiful island in the Mediterranean Sea. I had the
          chance to visit it for a few days and travel across the island. I saw from the 
          beautiful beaches to the mountains, and I was seduced by the genuine beauty of 
          these landscapes. I really enjoyed sitting and watching the fired sunsets and 
          endless sky depict the horizon.`}
      />

      <Spacer size="h-24" />

      <EmptyCardLeft
        image="/Portfolio/img/ireland/im64.jpg"
        title="Ireland"
        link="/Portfolio/collections/ireland"
        description={`I have recently spent a few months in Ireland, and it let me curious
          about the country. I have been amazed by the beauty of its landscapes, the richness
          of its language and history, and the diversity of environments. I may consider 
          going back to explore more of it!`}
      />

      <Spacer size="h-24" />

      <EmptyCardRight
        image="/Portfolio/img/rototo/im14.jpg"
        title="Tales of Rototo"
        link="/Portfolio/collections/tales"
        description={`Rototo is a funny name for an anime character from the anime "My neighbor
          Totoro". This figurine is a gift I keep close to me. I like to take it with me when I
          travel and take pictures of it in different places to create a disjointed story. I truly 
          like his adorable face.`}
      />

      <Spacer size="h-24" />
    </section>
  </main>
</MainLayout>
