---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";

import "@fontsource/orbitron";
---

<Layout currentPage="contact">
  <main class="overflow-y-scroll h-screen text-white">
    <div class="flex justify-center items-center h-full">
      <h1 class="text-5xl">Contact</h1>
    </div>
  </main>
</Layout>
