---
import "@fontsource/orbitron";

import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Card from "../components/Card.astro";
import Spacer from "../components/Spacer.astro";
---

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    });
  });

  const elements = document.querySelectorAll(".hide");
  elements.forEach((element) => {
    observer.observe(element);
  });
</script>

<style>
  .hide {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(40px);
    transition: all 1s;
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(10px);
  }

  @media (prefers-reduced-motion) {
    .hide {
      transition: none;
    }
  }
</style>

<Layout>
  <main class="overflow-y-scroll h-screen text-white">
    <Nav currentPage="home" />

    <div class="flex justify-center items-center h-full">
      <h1 class="text-5xl hide">Welcome to my Universe</h1>
    </div>

    <Spacer size="h-48" />

    <div class="flex justify-center items-center">
      <h1 class="text-5xl hide">See categories</h1>
    </div>

    <Spacer size="h-24" />

    <div
      class="hide flex flex-col md:flex-row space-y-6 md:space-y-0 md:space-x-6 px-4 md:px-16"
    >
      <Card image="/img/im1.jpg" title="Street" />
      <Card image="/img/im2.jpg" title="Sunset" />
      <Card image="/img/im3.jpg" title="Animal" />
    </div>

    <Spacer size="h-72" />
  </main>
</Layout>
