---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Card from "../components/Card.astro";

import "@fontsource/orbitron";
---

<Layout title="Portfolio">
  <main style="overflow-y: scroll; height: 100vh; color: white;">
    <Nav />

    <div class="flex justify-center items-center h-full">
      <h1 class="text-5xl">Welcome to my Universe</h1>
    </div>

    <div class="flex justify-center items-center">
      <h1 class="text-5xl">See categories</h1>
    </div>

    <div style="height: 100px;"></div>

    <div class="flex space-x-6 px-16">
      <Card image="/img/im1.jpg" title="Street" />
      <Card image="/img/im2.jpg" title="Sunsets" />
      <Card image="/img/im3.jpg" title="Animals" />
    </div>

    <div style="height: 200px;"></div>
  </main>
</Layout>
