---
import "@fontsource/orbitron";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Spacer from "../components/Spacer.astro";
---

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    });
  });

  const elements = document.querySelectorAll(".hide");
  elements.forEach((element) => {
    observer.observe(element);
  });
</script>

<style>
  .hide {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(40px);
    transition: all 1s;
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(10px);
  }

  @media (prefers-reduced-motion) {
    .hide {
      transition: none;
    }
  }
</style>

<Layout currentPage="home">
  <main class="text-white">
    <div class="flex justify-center items-center h-screen">
      <h1 class="text-5xl">Welcome to my Universe</h1>
    </div>

    <Spacer size="h-48" />

    <div class="flex justify-center items-center">
      <h1 class="text-5xl hide">See collections</h1>
    </div>

    <Spacer size="h-24" />

    <div
      class="hide flex flex-col md:flex-row space-y-6 md:space-y-0 md:space-x-6 px-4 md:px-16"
    >
      <Card image="/img/im1.jpg" title="Ireland" />
      <Card image="/img/im2.jpg" title="Sardegna" />
      <Card image="/img/im3.jpg" title="France" />
    </div>

    <Spacer size="h-96" />

    <div class="flex justify-center items-center">
      <h1 class="text-5xl hide">Get in touch</h1>
    </div>

    <Spacer size="h-24" />

    <div class="flex justify-center items-center mt-4">
      <p class="text-lg text-center hide">
        I'd love to hear from you. Feel free to reach out to me at <a
          href="mailto:morgan@kodelab.fr"
          style="color: hsl(195, 60%, 60%);"
          >morgan@kodelab.fr</a
        >.
      </p>
    </div>

    <Spacer size="h-72" />
  </main>
</Layout>
