---
import "../styles/global.css";
import "../animations/hide.astro";

import MainLayout from "../layouts/MainLayout.astro";
import Spacer from "../components/Spacer.astro";
---

<MainLayout currentPage="tos">
  <main class="text-white min-h-screen">
    <section class="container mx-auto px-4 py-8">
      <Spacer size="h-24" />

      <h1 class="text-4xl font-bold">Terms of Service</h1>
      <h2 class="text-xl text-gray-400 mt-2">
        Last updated: {new Date().toLocaleDateString()}
      </h2>

      <p class="mt-8 text-lg hide-1">
        The following terms and conditions govern all use of this website and
        all content, services, and products available at or through the website.
      </p>

      <h2 class="mt-8 text-2xl font-bold hide-2">Intellectual Property</h2>

      <p class="mt-4 text-lg hide-2">
        This website and its original content, features, and functionality are
        owned by me and are protected by international copyright, trademark,
        patent, trade secret, and other intellectual property or proprietary
        rights laws. You may not duplicate, copy, or reuse any portion of the
        visual design elements without express written permission from me.
      </p>

      <h2 class="mt-8 text-2xl font-bold hide-3">Contact Information</h2>

      <p class="mt-4 text-lg hide-3">
        For any inquiries or questions regarding these Terms of Service, please
        contact me via email at <a
          href="mailto:morgan@kodelab.fr"
          style="color: hsl(195, 60%, 60%);">morgan@kodelab.fr</a
        >.
      </p>

      <Spacer size="h-72" />
    </section>
  </main>
</MainLayout>
